* {
  font-family: "Poppins", sans-serif;
  background-color: #f7f5f1;
}
.decor2 {
  background-image: url("/assets/svg/col-2-bg.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-items a {
  font-size: 13px;
  font-weight: 300;
}

.hero {
  margin: 0;
  padding: 5rem 0;
}
h3 {
  font-weight: 700;
  width: 75%;
}
.decor-1 span {
  font-size: 13px;
}
.decor-1 p {
  font-size: 13px;
  margin: 20px 0 50px;
}
.col-btn {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 0;
}
.stats p {
  font-size: 12px;
  font-weight: 200;
}
h5 {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}
